# Django core
Django
asgiref
sqlparse

# Database
psycopg2-binary

# AI/ML
torch
transformers

# Django extensions
django-cors-headers
django-allauth

# Utilities
PyJWT
cryptography
requests
python-dotenv

# Production
gunicorn

Pillow
sentencepiece
accelerate
protobuf
